<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/alerts.ejs %>

    

    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
                <h6 class="card-subtitle mb-2"><strong>Email: </strong><%= user.email %></h6>
                <p class="card-text"><strong>Τηλέφωνο: </strong><%= user.telephone %></p>
                <p class="card-text"><strong>Α.Φ.Μ.: </strong><%= user.afm %></p>
                <a href="/account/edit" class="card-link btn btn-xs btn-warning">Επεξεργασία</a>
                <!-- <a href="/account/remove" class="card-link text-danger">Διαγραφή</a> -->
                <form class="deleteForm" action="/account?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Διαγραφή</button>
                </form>
            </div>
        </div>
    </div>


    <% include ../../partials/footer.ejs %>


</body>

</html>